* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(76, 75, 75);
    color: darkblue;
    margin: 0;
    padding: 20px;
text-align: center;
}

h1 {
    font-size: clamp(30px, 8vw, 60px);
    margin-bottom: 10px; 
}

p { 
    font-size: clamp(16px,5vw, 35px);
}

button {background-color: blue;
        font-size: 18px;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
}
    
img {
    width: 300px;
    max-width: 100%;
    height: auto;
}

.navbar {
    width: 100%;
    background-color: #181818;
    border-bottom: 1px solid #333;
}

.navbar-container {
    width: 90%;
    max-width: 1200px;
    min-height: 70px;

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;

    gap: 10px;

    color: white;
    text-decoration: none;

    font-size: 22px;
    font-weight: bold;
}

.logo img {
    width: 45px;
    height: 45px;

    object-fit: contain;
}

.menu {
    display: flex;
    align-items: center;

    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;

    font-size: 16px;
}

main {
    text-align: center;
    padding: 50px 20px;
}

main h1 {
    font-size: clamp(30px, 8vw, 70px);
}

main p {
    font-size: clamp(16px, 5vw, 30px);
    margin: 15px 0;
}

button {
    background-color: blue;
    color: white;

    padding: 15px 30px;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

main {
    text-align: center;
    padding: 50px 20px;
}

main h1 {
    font-size: clamp(30px, 8vw, 70px);
}

main p {
    font-size: clamp(16px, 5vw, 30px);
    margin: 15px 0;
}

button {
    background-color: blue;
    color: white;

    padding: 15px 30px;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

main {
    text-align: center;
    padding: 50px 20px;
}

main h1 {
    font-size: clamp(30px, 8vw, 70px);
}

main p {
    font-size: clamp(16px, 5vw, 30px);
    margin: 15px 0;
}

button {
    background-color: blue;
    color: white;

    padding: 15px 30px;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

@media (max-width: 600px) {

    .navbar-container {
        flex-direction: column;

        padding: 15px 0;

        gap: 15px;
    }

    .menu {
        width: 100%;

        justify-content: center;

        gap: 15px;
    }

    .menu a {
        font-size: 14px;
    }

}