body {
    background-color: rgb(76, 75, 75);
    color: darkblue;
text-align: center;
}

h1 {font-size: 40px;
}

p { font-size: 20px;
}

button {background-color: blue;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    
img {
    width: 300px;
    height: 300px;}